<html>
<head>
    <title>NE02 - Express and Routing</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.js"></script>
</head>
<body>

<header>
    <a href="/"><img src="/img/ne02_logo.png" alt="NE02"/></a>
</header>

<div class="row">
    <div class="col-md-3"><a href='/simple'>Simple variable display</a></div>
    <div class="col-md-3"><a href='/complex'>Complex object display</a></div>
    <div class="col-md-3"><a href='/loops'>Using loops</a></div>
    <div class="col-md-3"><a href='/logic'>Logic in your templates</a></div>
</div>

<div class=container"></div>
{{{body}}}
</body>

</body>
</html>
